In [1]:
import pandas as pd
import numpy as np
import json

In [2]:
df = pd.read_csv('comments_final.csv')
df.head()

,body,created_utc,id,parent_id,score,subreddit,word_length
0,I was 23 but I went with my ~29 year old cowor...,1545243578,ec4lbi4,t3_a7oy9v,5,AskMen,23
1,"Portland, OR. The city itself is now unafforda...",1545243546,ec4la0n,t3_a7mkui,3,AskMen,50
2,"nope. ""the cats goodbye"" watch how a cat says ...",1545243536,ec4l9lm,t3_a7fe60,1,AskMen,28
3,Drunk as fuck me during an unintended one nigh...,1545243524,ec4l90i,t3_a79zu9,3,AskMen,16
4,There was this one time when I went over one o...,1545243449,ec4l5g6,t3_a7kmvc,134,AskMen,192

In [3]:
df = df.filter(['body', 'subreddit'])
df.head()

                                                body subreddit
0  I was 23 but I went with my ~29 year old cowor...    AskMen
1  Portland, OR. The city itself is now unafforda...    AskMen
2  nope. "the cats goodbye" watch how a cat says ...    AskMen
3  Drunk as fuck me during an unintended one nigh...    AskMen
4  There was this one time when I went over one o...    AskMen

In [4]:
df.rename(columns={'body': 'confession', 'subreddit': 'gender'}, inplace=True)

In [5]:
df.head()

                                          confession  gender
0  I was 23 but I went with my ~29 year old cowor...  AskMen
1  Portland, OR. The city itself is now unafforda...  AskMen
2  nope. "the cats goodbye" watch how a cat says ...  AskMen
3  Drunk as fuck me during an unintended one nigh...  AskMen
4  There was this one time when I went over one o...  AskMen

In [6]:
df.replace({'AskMen': 'male', 'AskWomen': 'female'}, inplace=True)
df.head()

                                          confession gender
0  I was 23 but I went with my ~29 year old cowor...   male
1  Portland, OR. The city itself is now unafforda...   male
2  nope. "the cats goodbye" watch how a cat says ...   male
3  Drunk as fuck me during an unintended one nigh...   male
4  There was this one time when I went over one o...   male

In [7]:
df['gender'].value_counts()

male      13848
female      115
Name: gender, dtype: int64

In [8]:
female_indices = list(df[df['gender'] == 'female'].index)
male_indices = list(df[df['gender'] == 'male'].index)

In [9]:
female_selections = dict(zip(female_indices, [0 for _ in range(len(female_indices))]))
male_selections = dict(zip(male_indices, [0 for _ in range(len(male_indices))]))

In [10]:
def create_random_index(selection):
    values = [key for key in selection.keys() if selection[key] == 0]
    selections = np.random.choice(values, replace=False)
    selection[selections] = 1
    return selections

In [11]:
def sentence_generator():
    probability = np.random.rand()
    if probability < 0.5:
        index = create_random_index(male_selections)
    else:
        index = create_random_index(female_selections)
    return df.iloc[index]['confession'], df.iloc[index]['gender']

In [12]:
final_dict = {
        1: {},
        2: {},
        3: {},
        4: {},
        5: {}
    }

PROBABILITIES = [0, 0.25, 0.5, 0.75, 1]
        
for key in final_dict.keys():
    for probability in PROBABILITIES:
        final_dict[key][probability] = {}
        sentence, gender = sentence_generator()
        final_dict[key][probability]['sentence'] = sentence
        final_dict[key][probability]['gender'] = gender

In [13]:
with open('dataset.json', 'w') as f:
    json.dump(final_dict, f, indent=4)